body{
    margin: 0;
    background: lightgreen;
    text-align: center;
}

h1{
   text-decoration: underline;
   color: brown;
   background-color: green; 
}
#funid{
    font-size: 18px;
    font-style: italic;
}

a:hover{
    background-color: red;
}